.main-home-content {
    padding: 20px;
}

.slider-images {
    width: auto;
    height: 500px;
}

.slider-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
}

.next-btn, .prev-btn {
    border-radius: 50%;
    background-color: orangered;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    font-size: 15px;
    padding: 10px;
}

.home-page-tabs {
    display: flex;
    justify-content: center;
    padding: 25px;
}